/*
Application Settings Go Here-
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

$danger:#f04134;
$primary:#108ee9;
$highlight-color: #d00;
$td-hover: #ecf6fd;
$row-select: #fdF2ec;
$green:#00a854;

$gray-light:#f5f6fa;


$success:#ebf8f2;
$info:#b9e3f7;
$warning:#fffaeb;
$error:#fef0ef;